.pDIV {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    color: var(--vinho);
    height: auto;
    width: 100%;
    background-color: var(--branco);
    padding: 1rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.item-img-p {
    width: 60px;
    height: auto;
    color: var(--vinho);
}

#estrela {
    width: 55px;
    margin: 0 2.5px;
    height: auto;
    color: var(--vinho);
}

@media (max-width: 767px) {
    .pdiv {
        display: flex;
        flex-direction: column;
    }

    .item-img-p {
        margin: 1rem;
    }

    #estrela {
        margin: 1rem;
    }
}