/* Global CSS */
:root {
  --vinho: #800116;
  --vinhozinho: #BB0221;
  --vermelho: #CC0002;
  --preto: #000000;
  --branco: #FFFFFF;
  --fundo: #fff3f3
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#container {
  background-color: #fff3f3;
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.meio {
  display: flex;
  flex-direction: row;
}