.perfil {
    background-color: #fff;
    border: 1px solid var(--vinho);
    padding: 15px;
    height: 40px;
    width: 40px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil i {
    color: var(--vinho);
}

.perfil:hover {
    background-color: var(--vinho);
    cursor: pointer;
}

.perfil:hover i {
    color: #fff;
}