.search input {
    border: 0;
    font-size: 16px;
    padding: 5px;
    height: 40px;

};

.btnn {
    background-color: var(--vinho);
    border: 0;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
}